[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
watchdog = "*"

[dev-packages]
auto-py-to-exe = "*"
pyinstaller = "*"

[requires]
python_version = "*"
